In [268]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [269]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [339]:
examenes = pd.read_csv('exams.csv')

In [340]:
examenes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
...,...,...,...,...,...,...,...,...
995,male,group C,high school,standard,none,73,70,65
996,male,group D,associate's degree,free/reduced,completed,85,91,92
997,female,group C,some high school,free/reduced,none,32,35,41
998,female,group C,some college,standard,none,73,74,82
999,male,group A,some college,standard,completed,65,60,62

In [341]:
examenes_categoricas = examenes.loc[:,["gender", "race/ethnicity", "parental level of education", "lunch", "test preparation course"]]

In [342]:
examenes_categoricas

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,male,group A,high school,standard,completed
1,female,group D,some high school,free/reduced,none
2,male,group E,some college,free/reduced,none
3,male,group B,high school,standard,none
4,male,group E,associate's degree,standard,completed
...,...,...,...,...,...
995,male,group C,high school,standard,none
996,male,group D,associate's degree,free/reduced,completed
997,female,group C,some high school,free/reduced,none
998,female,group C,some college,standard,none
999,male,group A,some college,standard,completed

In [343]:
frec = examenes_categoricas.groupby(['gender']).count()

In [344]:
examenes['gender_num'] = np.where(examenes['gender'] == 'male',1,2)

In [345]:
frec = examenes_categoricas.groupby(['race/ethnicity']).count()

In [346]:
examenes['race_num'] = np.where(examenes['race/ethnicity'] == 'group C', 1, np.where(examenes['race/ethnicity'] == 'group D', 2, 3))

In [347]:
frec = examenes_categoricas.groupby(['parental level of education']).count()

In [348]:
examenes['parental_num'] = np.where(examenes['parental level of education'] == 'some college', 1, np.where(examenes['parental level of education'] == "associate's degree",2,3))

In [349]:
frec = examenes_categoricas.groupby(['lunch']).count()

In [350]:
examenes['lunch_num'] = np.where(examenes['lunch'] == 'standard', 1, 2)

In [351]:
frec = examenes_categoricas.groupby(['test preparation course']).count()

In [352]:
examenes['test_prep'] = np.where(examenes['test preparation course'] == 'none', 1, 2)
examenes['Probabilidad_'] = np.where(examenes['math score'] > 60,1,0)
examenes = examenes.loc[:,['gender_num', 'race_num', 'parental_num', 'lunch_num','test_prep', 'reading score', 'writing score','Probabilidad_']]
examenes

,gender_num,race_num,parental_num,lunch_num,test_prep,reading score,writing score,Probabilidad_
0,1,3,3,1,2,67,63,1
1,2,2,3,2,1,59,55,0
2,1,3,1,2,1,60,50,0
3,1,3,3,1,1,78,68,1
4,1,3,2,1,2,73,68,1
...,...,...,...,...,...,...,...,...
995,1,1,3,1,1,70,65,1
996,1,2,2,2,2,91,92,1
997,2,1,3,2,1,35,41,0
998,2,1,1,1,1,74,82,1
999,1,3,1,1,2,60,62,1

In [353]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix, roc_curve

In [354]:
features_col = examenes.columns.values[0:7]

In [356]:
X = examenes[features_col].values
Y = examenes["Probabilidad_"].values

In [357]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.30, random_state = 0)

In [358]:
log_model = LogisticRegression(solver='lbfgs', max_iter=1000)
log_model.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

In [359]:
y_pred = log_model.predict(X_test)

In [360]:
y_pred

array([0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1])

In [361]:
Y_test

array([0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1])

In [362]:
log_model.predict_proba(X_test)[:,1]

array([1.28475760e-01, 9.23926256e-01, 4.51628225e-01, 9.43765851e-01,
       5.94735572e-04, 8.76355228e-02, 9.40114494e-01, 9.96489635e-01,
       9.55412998e-01, 9.99968525e-01, 6.18531280e-06, 9.88047724e-01,
       9.91337087e-01, 9.92296115e-01, 8.81136311e-01, 5.56222775e-02,
       9.87922420e-01, 5.00687838e-02, 9.99727491e-01, 9.71686600e-01,
       9.93246649e-01, 9.74559576e-01, 8.91264056e-01, 2.70852717e-02,
       9.90234180e-01, 9.20234715e-01, 3.68926182e-01, 9.88637553e-01,
       2.98061114e-01, 1.39684197e-02, 9.80119329e-01, 1.92702086e-01,
       4.47639953e-01, 9.74022448e-01, 9.10942751e-02, 9.99784900e-01,
       3.37612856e-01, 4.64888178e-02, 9.86719642e-01, 9.72642565e-01,
       9.81282553e-01, 9.99813813e-01, 9.99605144e-01, 9.72762883e-01,
       9.95603095e-01, 5.44091381e-01, 5.04578063e-01, 9.77984345e-01,
       1.04629599e-01, 9.99427514e-01, 8.24683571e-01, 9.97517153e-01,
       3.97392348e-01, 6.31276963e-01, 9.98993445e-01, 7.46867204e-01,
       9.16676274e-01, 8.40258140e-01, 9.93436532e-01, 9.99709466e-01,
       6.64927061e-01, 3.32260454e-01, 9.98419676e-01, 9.93656178e-01,
       3.28957690e-01, 2.35514264e-01, 9.99840123e-01, 9.17844069e-01,
       9.39363558e-01, 1.29014558e-01, 8.16628374e-01, 2.40879902e-02,
       4.95907131e-01, 9.48429805e-01, 9.92940760e-01, 5.86970999e-02,
       9.97822717e-01, 9.99568221e-01, 9.60253343e-01, 8.84686025e-02,
       9.59224180e-03, 9.99909717e-01, 3.44841576e-03, 9.35814330e-01,
       9.61444904e-01, 6.49319597e-01, 4.16081834e-01, 9.99559598e-01,
       9.46589968e-01, 9.77749774e-01, 9.91828584e-01, 7.35461430e-01,
       9.28691420e-01, 9.26550679e-01, 9.99800645e-01, 9.99998138e-01,
       1.64477431e-04, 9.97478463e-01, 9.78655975e-01, 7.63313498e-03,
       1.62400655e-01, 9.12001111e-01, 1.41699755e-01, 9.89577670e-01,
       9.99789937e-01, 4.89619305e-01, 9.93294340e-01, 7.86510179e-01,
       1.53487574e-01, 8.85326367e-01, 1.15009960e-01, 9.99722213e-01,
       8.89421648e-01, 9.82562480e-01, 1.72356604e-01, 9.93746890e-01,
       9.94680332e-01, 8.49112278e-01, 9.48404662e-01, 9.92921303e-01,
       9.99843007e-01, 9.87364370e-01, 4.77122383e-02, 5.95130891e-01,
       9.63912046e-01, 7.83324341e-01, 2.36082005e-01, 5.73193588e-03,
       5.39829758e-01, 3.40731744e-01, 9.37077216e-01, 7.78253346e-01,
       9.86071538e-01, 1.35172126e-01, 3.32392415e-01, 9.89224654e-01,
       1.59979008e-02, 9.75480935e-01, 8.71203750e-01, 1.02275569e-01,
       9.97594384e-01, 5.69553823e-03, 9.99816098e-01, 9.56753579e-01,
       6.47008480e-03, 1.61518444e-03, 9.26886522e-01, 9.95624690e-01,
       6.54159179e-02, 9.95910689e-01, 8.85795582e-01, 9.99523015e-01,
       2.11550428e-01, 9.21794696e-01, 9.95059980e-01, 5.97197537e-01,
       9.94726903e-01, 2.09618049e-01, 9.99985026e-01, 9.66511927e-01,
       9.96759171e-01, 9.98185804e-01, 1.92109485e-01, 6.35642986e-01,
       6.44472491e-01, 9.95451688e-01, 2.31742528e-02, 9.64553227e-01,
       6.60940510e-03, 9.18903097e-01, 4.51155611e-01, 6.90731309e-04,
       2.72843904e-02, 9.99775195e-01, 7.79730268e-03, 9.98523247e-01,
       9.94029909e-01, 9.99934347e-01, 8.44939554e-01, 9.61505519e-01,
       9.95353029e-01, 7.94748471e-01, 8.16503223e-02, 9.98480022e-01,
       8.80207343e-01, 7.19189453e-01, 9.95682664e-03, 2.54194639e-01,
       9.99201959e-01, 9.74500702e-01, 9.90439394e-01, 6.38903161e-05,
       9.96389871e-01, 9.64883608e-01, 3.55998449e-01, 8.78385312e-01,
       1.49333567e-02, 5.98716887e-02, 3.44324717e-03, 9.22288007e-01,
       9.78574472e-01, 1.43842484e-01, 7.30865142e-02, 1.01363003e-01,
       9.98465942e-01, 2.65188398e-02, 9.99979962e-01, 2.96589213e-01,
       9.97104551e-01, 9.87999976e-01, 1.11286379e-03, 7.93074212e-01,
       4.02473441e-01, 9.99618938e-01, 9.97951267e-01, 9.80907438e-01,
       9.99000391e-01, 2.86177494e-02, 7.13419268e-01, 8.18860458e-01,
       2.39035160e-01, 6.62332253e-01, 9.99962141e-01, 9.94733452e-01,
       9.99951483e-01, 7.88651186e-03, 9.99781757e-01, 9.96715414e-01,
       4.26853765e-04, 9.84926568e-01, 9.99499747e-01, 9.29507840e-01,
       9.83307527e-01, 9.99649461e-01, 8.16419938e-01, 1.12872457e-01,
       7.23083502e-02, 9.94550189e-01, 9.95088468e-01, 8.40747280e-03,
       9.97294644e-01, 9.99579826e-01, 1.45033521e-01, 9.78663966e-01,
       9.98845307e-01, 3.70832674e-04, 1.13698903e-01, 1.70222016e-01,
       8.12952097e-01, 8.03213203e-01, 6.15509090e-01, 7.53334046e-01,
       7.48769891e-01, 5.82027997e-01, 8.16685665e-01, 9.88187085e-01,
       9.97640794e-01, 5.72429104e-01, 1.08898100e-01, 3.23090420e-01,
       6.04946207e-01, 2.58033933e-01, 9.93195956e-01, 5.95733118e-01,
       9.55274830e-01, 1.09976972e-01, 9.96896480e-01, 9.99767351e-01,
       3.07377379e-01, 7.27715339e-01, 9.94770915e-01, 8.18859977e-01,
       9.75095678e-01, 9.99477035e-01, 6.18125166e-02, 3.42511272e-01,
       9.79360848e-01, 6.98603148e-02, 6.24380084e-03, 1.56058102e-01,
       9.89899069e-01, 9.95655344e-01, 9.76680470e-01, 9.99914504e-01,
       2.32508027e-01, 9.99540368e-01, 3.75211735e-01, 8.92822322e-03,
       7.21113772e-01, 2.79957541e-03, 9.92899904e-01, 9.31512572e-02,
       1.39238260e-04, 2.75502880e-01, 1.13739371e-03, 3.18832650e-01,
       9.91174100e-01, 9.48404662e-01, 7.91476749e-01, 9.99706521e-01])

In [363]:
print(metrics.accuracy_score(y_test, y_pred))
print(precision_score(y_test, y_pred))
print(recall_score(y_test, y_pred))
print(f1_score(y_test,y_pred))

0.89
0.9238578680203046
0.91
0.9168765743073047

In [364]:
###Neuronal Network

In [365]:
from sklearn.neural_network import MLPClassifier

from sklearn import metrics
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix, roc_curve

In [366]:
x_train = X_train
x_test = X_test
y_train = Y_train
y_test = Y_test

In [367]:
NN = MLPClassifier(random_state=1, max_iter=3000)

NN.fit(x_train, y_train)

y_pred = NN.predict(x_test)


accuracy = accuracy_score(y_test,y_pred) * 100
confusion_mat = confusion_matrix(y_test,y_pred)

In [368]:
print(metrics.accuracy_score(y_test, y_pred))
print(precision_score(y_test, y_pred))
print(recall_score(y_test, y_pred))
print(f1_score(y_test,y_pred))

0.8866666666666667
0.9322916666666666
0.895
0.913265306122449

In [369]:
##Arbol de desiciones

In [370]:
from sklearn import tree

In [371]:
tree_one = tree.DecisionTreeClassifier(random_state=1)

In [372]:
tree_one = tree_one.fit(x_train, y_train)

In [373]:
tree_one.tree_.max_depth

12

In [374]:
y_pred = tree_one.predict(x_test)

In [375]:
print(metrics.accuracy_score(y_test, y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test, y_pred))
print(f1_score(y_test, y_pred))

0.87
0.900497512437811
0.905
0.9027431421446384